.correct {
    animation: growCorrect 0.5s;
    animation-iteration-count: 1;
}

.incorrect {
    animation: growIncorrect 0.5s;
    animation-iteration-count: 1;
}

.btn {
    background-color: #1E1D40;
    color: white;
    margin: 10px;
    margin-left: 0;
}

.btn:hover {
    background-color: #61dafb;
    color: #1E1D40;
}

@keyframes growCorrect {
    0% {transform: scale(1); color: white; }
    25% {transform: scale(1.5) }
    50% {transform: scale(1.75); color: #004d40; }
    50% {transform: scale(1.5) }
    100% {transform: scale(1); color: white; }
}

@keyframes growIncorrect {
    0% {transform: scale(1); color: white; }
    25% {transform: scale(1.5) }
    50% {transform: scale(1.75); color: #b71c1c; }
    50% {transform: scale(1.5) }
    100% {transform: scale(1); color: white; }
}