@import "./../../Styles/variables";
@import "./../../Styles/functions";
@import "./../../Styles/mediaQ";

.footer__container{
    background-color: $primary__color;
    color: $tertiary__color;
    width: 100%;

    display:flex;
 
    align-items: center;
    justify-content: center;


    a{
        color: $secondary__color;
    }
   
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:50px;
    
}