
@mixin reset(){
    background-image:none
}

@mixin home(){
    background-image:linear-gradient(
        rgba(54, 51, 133, 0.75), 
        rgba(30, 29, 64, 0.75)
      ), url('./../../Styles/Images/home.jpg');
    background-position: top;
    background-size:100%;

    @media (min-width: $tablet){
        @include reset();
    }
    
}


@mixin search(){
    background-image:linear-gradient(
        rgba(54, 51, 133, 0.75), 
        rgba(30, 29, 64, 0.75)
      ), url('./../../Styles/Images/search.jpg');
    background-position: top;
    background-size:100%;

    @media (min-width: $tablet){
        @include reset();
    }

}

@mixin fosters(){
    background-image:linear-gradient(
        rgba(54, 51, 133, 0.75), 
        rgba(30, 29, 64, 0.75)
      ), url('./../../Styles/Images/fosters.jpg');
    background-position: top;
    background-size:100%;

    @media (min-width: $tablet){
        @include reset();
    }

}

@mixin history(){
    background-image:linear-gradient(
        rgba(54, 51, 133, 0.75), 
        rgba(30, 29, 64, 0.75)
      ), url('./../../Styles/Images/history.jpg');
    background-position: top;
    background-size:100%;

    @media (min-width: $tablet){
        @include reset();
    }

}




