

//!COLORS
<<<<<<< HEAD
$secondary__color: #075473;
$primary__color: #020726;
$tertiary__color: #B6E7F2;
$quant__color:#0D0D0D;
=======
 $primary__color: #1E1D40;
 $secondary__color: #4AB0D9;
 $tertiary__color: #f1f1f1;
>>>>>>> 2a36e05a44986093c20e48da8c34220d238bf9f3
